*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }
  header, nav {
    text-align: center;
    background:	rgb(255, 255, 255);
    margin: 20px 0;
    padding: 10px;
  }
  
  nav a {
    text-decoration: none;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    color: white;
    padding: 3px 8px;
  }
  body {
        
      background: #0C2939;
      margin: 0px auto;
      padding: 20px;
      color:rgb(255, 255, 255);
      font-family: 'New Rocker', cursive;
    }

  h3{ 
    color:white;
    text-align: center;
    font-size: 20pt;
    padding: 10px; 
  }
 .ende{
    text-align: center;

  
  }
  .fone{
    text-align: center; 
  }
  .item img{
    padding: 5px;
    text-align: center;
    display: block;
    margin-right: -50%;
    margin-left: 20%; 
  }
 